.HeaderTitle {
    display: block;
    width: auto;
    max-height: 40px;
    color: #fff;
    margin-left: 20px;
}

.HeaderTitle .subtitle {
    font-size: .75rem;
    line-height: .875rem;
    text-transform: uppercase;
    font-weight: 100;
}

.HeaderTitle .title {
    font-size: 1rem;
    line-height: 1.25rem;
    text-transform: uppercase;
    font-weight: 700;
}